li a {
    color: deepskyblue;
}

body {
    background: white url("images/index_background.jpg") no-repeat;
    text-align: center;
}

h1 {
    color: lightskyblue;
    text-align: center;
}

p {
    color: palevioletred;
    text-align: center;
}