body {
    background: white url("images/results_background.jpg") no-repeat;
    text-align: center;
}

h1 {
  color: lightgreen;
  text-align: center;
}

h2 {
  color: lawngreen;
  text-align: center;
}

a {
    color: orange;
    text-align: center;
}
